.brown {
    fill: #945531;
}

.cyan {
    fill: #ADE3FF;
}
.magenta {
    fill: #DE3894;
}
.ochre {
    fill:  #F79618;
}
.red {
    fill:  #EF1C21;
}
.yellow {
    fill:  yellow;
}
.green {
    fill:  #18B25A;
}
.blue {
    fill:  #0071BD;
}

rect.field {
    fill:#cee7ce;
    fill-opacity:1;
    stroke:#000000;
    stroke-opacity:1
}

rect.fieldRibbon {
    fill-opacity:1;
    stroke:#000000;
    stroke-opacity:1;
}
